# Calculating the number of college vacancies in USP

This notebook is meant to be run on Google Colab so that the user does not have to install and maintain a Java environment just for it. Therefore, if you do not have Java already installed in your system, it is **highly recommended that you run in Colab**

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/tomaz-suller/manual-do-vestibulando/blob/main/src/notebooks/0-Calculate%20vacancies%20in%20USP.ipynb)

## A note about `tabula-py`

`tabula-py` is a tool for converting PDF tables to pandas DataFrame. `tabula-py` is a wrapper of [`tabula-java`](https://github.com/tabulapdf/tabula-java), which requires Java on your machine. `tabula-py` also enables you to convert tables in a PDF into CSV/TSV files.

`tabula-py`'s PDF extraction accuracy is same as `tabula-java` or [tabula app](https://tabula.technology/); GUI tool of tabula.

`tabula-py` is good for:
- automation with Python scripts;
- advanced analytics after conversion;
- casual analytics with Jupyter notebook or Google Colab.

## Environment setup

### Tabula setup

`tabula-py` requires a java environment, so let's check the java environment on your machine.

In [1]:
!java -version

openjdk version "11.0.11" 2021-04-20
OpenJDK Runtime Environment (build 11.0.11+9-Ubuntu-0ubuntu2.18.04)
OpenJDK 64-Bit Server VM (build 11.0.11+9-Ubuntu-0ubuntu2.18.04, mixed mode, sharing)

After confirming the java environment, install tabula-py by using pip.

In [2]:
!pip install -q tabula-py

     |████████████████████████████████| 12.0 MB 5.6 MB/s

Before trying tabula-py, check your environment via tabula-py `environment_info()` function, which shows Python version, Java version, and your OS environment.

In [3]:
import tabula

tabula.environment_info()

Python version:
    3.7.12 (default, Sep 10 2021, 00:21:48)
[GCC 7.5.0]
Java version:
    openjdk version "11.0.11" 2021-04-20
OpenJDK Runtime Environment (build 11.0.11+9-Ubuntu-0ubuntu2.18.04)
OpenJDK 64-Bit Server VM (build 11.0.11+9-Ubuntu-0ubuntu2.18.04, mixed mode, sharing)
tabula-py version: 2.3.0
platform: Linux-5.4.144+-x86_64-with-Ubuntu-18.04-bionic
uname:
    uname_result(system='Linux', node='cc1203dc36b0', release='5.4.144+', version='#1 SMP Tue Dec 7 09:58:10 PST 2021', machine='x86_64', processor='x86_64')
linux_distribution: ('Ubuntu', '18.04', 'bionic')
mac_ver: ('', ('', '', ''), '')

### Python environment setup

In [4]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import tabula

## Convert the PRG PDF into a usable Pandas `DataFrame`

The PDF comes from USP's dean's office website. We will read its table into a Pandas `DataFrame` for further processing.

The PDF has been manually augmented by adding vertical lines to aid OCR.

`tabula-py`'s `read_pdf()` returns a list of `DataFrame`s by default.

In [249]:
PDF_PATH = '../../data/1_raw/vagas/2022.pdf'
NUMBER_OF_PAGES = 7

page_dfs = []
for i in range(NUMBER_OF_PAGES):
  page_df = tabula.read_pdf(PDF_PATH, 
                            lattice=True, 
                            pandas_options={'header': None}, 
                            pages=str(i+1),
                            multiple_tables=True)
  # tabula detects two identical tables per page, so we only
  # take the first one
  page_dfs.append(page_df[0])

print(len(page_dfs))

7

In [203]:
raw_df = page_dfs[0].copy(deep=True)
example_df = raw_df.copy(deep=True)
example_df

                                                   0     1   ...     23  24
0   FuvestSISU\rUnidadeÁreaCursoEPPPI\rACEPPPITota...   NaN  ...    NaN NaN
1                                             Unidade  Área  ...    NaN NaN
2                                                 NaN   NaN  ...  Total NaN
3                                                 NaN   NaN  ...    NaN NaN
4   FFCLRP\rFFCLRP\rFFCLRP\rFFCLRP\rFFCLRP\rFFCLRP...     E  ...     18 NaN
..                                                ...   ...  ...    ...  ..
70                                                 FM   NaN  ...     74 NaN
71                                                NaN   NaN  ...    NaN NaN
72                                                NaN   NaN  ...    NaN NaN
73                                                NaN   NaN  ...    NaN NaN
74                                                NaN   NaN  ...    NaN NaN

[75 rows x 25 columns]

Several steps are required for transforming the resulting PDF into a useful format:

### Remove header

Firstly, each pages's first rows comes from its header, which is useless for our analysis, and the first column may be filled with NAs, so we remove them with `slice_from_df`.

In [192]:
def slice_from_df(df, init_row=4, init_col=1):
  clean_df = df
  if init_row is not None and init_col is not None:
    clean_df = df.iloc[init_row:, init_col:] 
  elif init_row is not None:
    clean_df = df.iloc[init_row:, :]
  elif init_col is not None:
    clean_df = df.iloc[:, init_col:]
  return clean_df.reset_index(drop=True)

In [193]:
slice_from_df(example_df, init_col=None)

                                                   0    1   ...   23  24
0   FFCLRP\rFFCLRP\rFFCLRP\rFFCLRP\rFFCLRP\rFFCLRP...    E  ...   18 NaN
1                                                 NaN  NaN  ...  NaN NaN
2                                                 NaN  NaN  ...  NaN NaN
3                                                 NaN  NaN  ...  NaN NaN
4                                                 NaN  NaN  ...  NaN NaN
..                                                ...  ...  ...  ...  ..
66                                                 FM  NaN  ...   74 NaN
67                                                NaN  NaN  ...  NaN NaN
68                                                NaN  NaN  ...  NaN NaN
69                                                NaN  NaN  ...  NaN NaN
70                                                NaN  NaN  ...  NaN NaN

[71 rows x 25 columns]

### Remove columns without data

Secondly, some spurious columns, which contain many NAs, remain, so we remove them with `remove_cols_without_data`.

In [267]:
def remove_cols_without_data(df, threshold=0.9, init_data_col=3):
  unmodified_df_cols = df.iloc[:,:init_data_col]
  clean_data_cols = df.iloc[:, init_data_col:] \
    .dropna(axis=1, thresh=int(df.shape[0]*(1-threshold)))
  return pd.concat([unmodified_df_cols,
                    clean_data_cols],
                   axis=1, ignore_index=True)

In [258]:
remove_cols_without_data(example_df).head()

                                                    0  ...                                                  2
0                                                 NaN  ...                                                NaN
1   FFCLRP\rFFCLRP\rFFCLRP\rFFCLRP\rFFCLRP\rFFCLRP...  ...  Química - Bacharelado – Habilitações:\rQuímica...
2                                                 NaN  ...                                                NaN
3                                                 NaN  ...                                                NaN
4                                                 NaN  ...                                                NaN
..                                                ...  ...                                                ...
67                                                 FM  ...                                   Subtotal Unidade
68                                                NaN  ...                                                NaN
69                                                NaN  ...                                                NaN
70                                                NaN  ...                                                NaN
71                                                NaN  ...                                                NaN

[72 rows x 3 columns]

                                                  0    1   ...      13   14
0                                                NaN  NaN  ...  SubTot  NaN
1  FFCLRP\rFFCLRP\rFFCLRP\rFFCLRP\rFFCLRP\rFFCLRP...    E  ...       4   18
2                                                NaN  NaN  ...     NaN  NaN
3                                                NaN  NaN  ...     NaN  NaN
4                                                NaN  NaN  ...     NaN  NaN

[5 rows x 15 columns]

In [246]:
example_df = remove_cols_without_data(slice_from_df(raw_df, init_row=3, init_col=None))
example_df

                                                   0    1   ...      13   14
0                                                 NaN  NaN  ...  SubTot  NaN
1   FFCLRP\rFFCLRP\rFFCLRP\rFFCLRP\rFFCLRP\rFFCLRP...    E  ...       4   18
2                                                 NaN  NaN  ...     NaN  NaN
3                                                 NaN  NaN  ...     NaN  NaN
4                                                 NaN  NaN  ...     NaN  NaN
..                                                ...  ...  ...     ...  ...
67                                                 FM  NaN  ...      14   74
68                                                NaN  NaN  ...     NaN  NaN
69                                                NaN  NaN  ...     NaN  NaN
70                                                NaN  NaN  ...     NaN  NaN
71                                                NaN  NaN  ...     NaN  NaN

[72 rows x 15 columns]

### Fix institutes

Thirdly, we correctly assign each course to its respective institute with `split_institutes` and `fix_institute_column`, exploiting the fact that each insitute is followed by a row filled with NAs.

In [223]:
def split_institutes(df):
  previous_cut = 0
  dfs = []
  for key, row in df.iterrows():
    if row.isna().all() and key > previous_cut:
      dfs.append(df.iloc[previous_cut:key,:])
      previous_cut = key + 1
    
  return dfs

In [224]:
for institute_df in split_institutes(example_df):
  print(institute_df)

                                                  0  1   ... 13  14
0  FFCLRP\rFFCLRP\rFFCLRP\rFFCLRP\rFFCLRP\rFFCLRP...  E  ...  4  18

[1 rows x 15 columns]
    0    1    2    3    4    5    6    7    8    9    10   11   12   13   14
2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
    0    1    2    3    4    5    6    7    8    9    10   11   12   13   14
4  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
    0    1                             2    3    4   ...   10   11   12   13   14
6  NaN  NaN                           NaN  NaN  NaN  ...  NaN  NaN  NaN  NaN  NaN
7  NaN    E  Bacharelado em Física Médica   13    9  ...    3    0    2    2   12

[2 rows x 15 columns]
    0  1                                      2   3  4  5   ... 9  10 11 12 13  14
9  NaN  E  Licenciatura e Bacharelado em Química  14  8  6  ...  4  4  0  2  2  12

[1 rows x 15 columns]
     0  1                                               2   3   ... 11 12 13  14
11  NaN  E  Bacharelado em Matemática Aplicada a\rNegócios  16  ...  0  4  4  14

[1 rows x 15 columns]
     0    1                               2    3    4   ...   10   11   12   13   14
13  NaN  NaN                             NaN  NaN  NaN  ...  NaN  NaN  NaN  NaN  NaN
14  NaN    B  Psicologia - Bach. e Psicólogo   20    8  ...    4    0    8    8   12

[2 rows x 15 columns]
     0  1                                                  2   3   ... 11 12 13  14
16  NaN  B  Ciências Biológicas – Bacharelado e\rLicenciatura  20  ...  0  8  8  12

[1 rows x 15 columns]
     0    1    2    3    4    5    6    7    8    9    10   11   12   13   14
18  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
     0  1          2   3  4  5   6  7  8  9  10 11 12 13  14
20  NaN  H  Pedagogia  25  8  2  35  0  0  7  7  0  8  8  15
     0  1                                                  2   3   ... 11 12 13  14
22  NaN  H  Bacharelado em Biblioteconomia e Ciência\rda I...  20  ...  0  6  6  12

[1 rows x 15 columns]
     0    1    2    3    4    5    6    7    8    9    10   11   12   13   14
24  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
     0  1                                                  2   3   ... 11 12 13 14
26  NaN  E               Bacharelado em Ciência da Computação  10  ...  0  4  4  6
27  NaN  H  Música - Bacharelado e  Educação\rArtística - ...  15  ...  0  0  0  0

[2 rows x 15 columns]
     0    1    2    3    4    5    6    7    8    9    10   11   12   13   14
29  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
        0    1                 2    3   4   5    6   ... 8   9   10 11  12  13   14
31  FFCLRP  NaN  Subtotal Unidade  174  83  35  292  ...  1  38  39  0  46  46  113

[1 rows x 15 columns]
     0    1    2    3    4    5    6    7    8    9    10   11   12   13   14
33  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
                                                   0  1   ...  13  14
35  FFLCH\rFFLCH\rFFLCH\rFFLCH\rFFLCH\rFFLCH\rFFLC...  H  ...  15  30

[1 rows x 15 columns]
     0  1                              2   3   4  5   ... 9   10 11 12  13  14
37  NaN  H  Ciências Sociais - Bach./Lic.  55  14  8  ...  0  20  8  5  13  33

[1 rows x 15 columns]
     0  1                       2   3   4  5   6  7   8  9   10 11 12  13  14
39  NaN  H  Filosofia - Bach./Lic.  40  13  3  56  0  12  0  12  6  6  12  24
     0  1                       2   3   4  5   6  7   8  9   10 11 12  13  14
41  NaN  H  Filosofia - Bach./Lic.  45  13  5  63  0  15  0  15  6  6  12  27
     0  1                       2   3   4  5   6  7   8  9   10  11 12  13  14
43  NaN  H  Geografia - Bach./Lic.  40  13  3  56  0  12  0  12  12  0  12  24
     0  1                       2   3   4  5   6  7   8  9   10  11 12  13  14
45  NaN  H  Geografia - Bach./Lic.  45  14  4  63  0  14  0  14  13  0  13  27
     0  1                      2   3   4  5   6  7   8  9   10 11  12  13  14
47  NaN  H  História - Bach./Lic.  65  19  7  91  0  21  0  21  0  18  18  39
     0  1                      2   3   4  5   6  7   8  9   10 11  12  13  14
49  NaN  H  História - Bach./Lic.  70  20  8  98  0  23  0  23  0  19  19  42
     0  1                    2    3   4   5    6   ...  8  9   10  11  12  13   14
51  NaN  H  Letras – Bach./Lic.  211  59  27  297  ...  72  0  72  34  19  53  125

[1 rows x 15 columns]
     0  1                    2    3   4   5    6   ...  8  9   10  11  12  13   14
53  NaN  H  Letras – Bach./Lic.  213  60  27  300  ...  73  0  73  35  19  54  127

[1 rows x 15 columns]
       0    1                 2    3    4   5   ... 9    10   11  12   13   14
55  FFLCH  NaN  Subtotal Unidade  834  241  96  ...  0  277  124  97  221  498

[1 rows x 15 columns]
     0    1    2    3    4    5    6    7    8    9    10   11   12   13   14
57  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
                0  1         2   3   4   5    6   7  8   9   10 11 12 13  14
59  FM\rFM\rFM\rFM  B  Medicina  58  39  25  122  29  0  16  16  0  8  8  53
     0  1             2  3  4  5   6  7  8  9  10 11 12 13 14
61  NaN  B  Fisioterapia  9  6  3  18  3  0  2  2  0  2  2  7
     0  1                    2  3  4  5   6  7  8  9  10 11 12 13 14
63  NaN  B       Fonoaudiologia  9  6  3  18  3  0  2  2  0  2  2  7
64  NaN  B  Terapia Ocupacional  9  6  3  18  3  0  2  2  0  2  2  7
    0    1                 2   3   4   5    6   7  8   9   10 11  12  13  14
66  FM  NaN  Subtotal Unidade  85  57  34  176  38  0  22  22  0  14  14  74
     0    1    2    3    4    5    6    7    8    9    10   11   12   13   14
68  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

In [225]:
def fix_institute_column(df, institute_column=0):
  dfs = split_institutes(df)
  fixed_df = []
  for i in range(len(dfs)):
    institute_df = dfs[i]
    for j in range(institute_df.shape[0]):
      if not pd.isna(institute_df.iloc[j, institute_column]):
        institute_name = str(
            institute_df.iloc[j, institute_column]).split('\r')[0]
        break
    if i == len(dfs)-1:
      # Throw away broken institute column
      institute_df = institute_df.shift(axis=1)
    institute_df.iloc[:,institute_column] = institute_name
    fixed_df.append(institute_df)
  return pd.concat(fixed_df, axis=0, ignore_index=True)

In [227]:
fix_institute_column(example_df).head(20)

        0    1   ...   13   14
0   FFCLRP    E  ...    4   18
1   FFCLRP  NaN  ...  NaN  NaN
2   FFCLRP  NaN  ...  NaN  NaN
3   FFCLRP  NaN  ...  NaN  NaN
4   FFCLRP    E  ...    2   12
5   FFCLRP    E  ...    2   12
6   FFCLRP    E  ...    4   14
7   FFCLRP  NaN  ...  NaN  NaN
8   FFCLRP    B  ...    8   12
9   FFCLRP    B  ...    8   12
10  FFCLRP  NaN  ...  NaN  NaN
11  FFCLRP    H  ...    8   15
12  FFCLRP    H  ...    6   12
13  FFCLRP  NaN  ...  NaN  NaN
14  FFCLRP    E  ...    4    6
15  FFCLRP    H  ...    0    0
16  FFCLRP  NaN  ...  NaN  NaN
17  FFCLRP  NaN  ...   46  113
18  FFCLRP  NaN  ...  NaN  NaN
19   FFLCH    H  ...   15   30

[20 rows x 15 columns]

### Rename `DataFrame` columns

Fourthly, we rename the columns to compensate for the unusable header which we removed earlier.

In [228]:
def add_column_names(df, names=None):
  if names is not None:
    df.columns = names
  return df

### Encapsulate processing for a single page

Fithly, we encapsulate all the previous four steps into the `process_dataframe` function.

In [261]:
def process_dataframe(df,
                      init_row=None, init_col=None,
                      init_data_col=None,
                      institute_column=None,
                      names=None):
  processed_df = slice_from_df(df, init_row=init_row, init_col=init_col)
  processed_df = remove_cols_without_data(processed_df,
                                          init_data_col=init_data_col)
  processed_df = fix_institute_column(processed_df,
                                      institute_column=institute_column)
  processed_df = add_column_names(processed_df, names=names)
  return processed_df

In [262]:
SLICE = (4, None)
INSTITUTE_COL = 0
INITIAL_DATA_COL = 3
COL_NAMES = ([
  'unidade',
  'area',
  'curso',
  'fuvest_ac',
  'fuvest_ep',
  'fuvest_ppi',
  'fuvest',
  'enem_ac',
  'enem_ep_l1','enem_ep_l3','enem_ep',
  'enem_ppi_l2', 'enem_ppi_l4', 'enem_ppi',
  'enem',
])

processed_df = process_dataframe(raw_df,
                                 init_row=SLICE[0], init_col=SLICE[1],
                                 institute_column=INSTITUTE_COL,
                                 init_data_col=INITIAL_DATA_COL,
                                 names=COL_NAMES)
processed_df

                                                    0  ...                                                  2
0   FFCLRP\rFFCLRP\rFFCLRP\rFFCLRP\rFFCLRP\rFFCLRP...  ...  Química - Bacharelado – Habilitações:\rQuímica...
1                                                 NaN  ...                                                NaN
2                                                 NaN  ...                                                NaN
3                                                 NaN  ...                                                NaN
4                                                 NaN  ...                                                NaN
..                                                ...  ...                                                ...
66                                                 FM  ...                                   Subtotal Unidade
67                                                NaN  ...                                                NaN
68                                                NaN  ...                                                NaN
69                                                NaN  ...                                                NaN
70                                                NaN  ...                                                NaN

[71 rows x 3 columns]

   unidade area  ... enem_ppi enem
0   FFCLRP    E  ...        4   18
1   FFCLRP  NaN  ...      NaN  NaN
2   FFCLRP  NaN  ...      NaN  NaN
3   FFCLRP  NaN  ...      NaN  NaN
4   FFCLRP    E  ...        2   12
5   FFCLRP    E  ...        2   12
6   FFCLRP    E  ...        4   14
7   FFCLRP  NaN  ...      NaN  NaN
8   FFCLRP    B  ...        8   12
9   FFCLRP    B  ...        8   12
10  FFCLRP  NaN  ...      NaN  NaN
11  FFCLRP    H  ...        8   15
12  FFCLRP    H  ...        6   12
13  FFCLRP  NaN  ...      NaN  NaN
14  FFCLRP    E  ...        4    6
15  FFCLRP    H  ...        0    0
16  FFCLRP  NaN  ...      NaN  NaN
17  FFCLRP  NaN  ...       46  113
18  FFCLRP  NaN  ...      NaN  NaN
19   FFLCH    H  ...       15   30
20   FFLCH    H  ...       13   33
21   FFLCH    H  ...       12   24
22   FFLCH    H  ...       12   27
23   FFLCH    H  ...       12   24
24   FFLCH    H  ...       13   27
25   FFLCH    H  ...       18   39
26   FFLCH    H  ...       19   42
27   FFLCH    H  ...       53  125
28   FFLCH    H  ...       54  127
29   FFLCH  NaN  ...      221  498
30   FFLCH  NaN  ...      NaN  NaN
31      FM    B  ...        8   53
32      FM    B  ...        2    7
33      FM    B  ...        2    7
34      FM    B  ...        2    7
35      FM  NaN  ...       14   74
36      FM  NaN  ...      NaN  NaN

[37 rows x 15 columns]

### Remove remaining rows without data

Sixthly, we remove rows filled with NAs in the data columns which still remain.

In [263]:
def remove_rows_without_data(df, init_data_col=None):
  if init_data_col is not None:
    na_rows = df.iloc[:, init_data_col:].isna().all(axis=1)
    rows_to_remove = na_rows[na_rows==True].index
    return df.drop(rows_to_remove, axis=0)
  return df

In [264]:
remove_rows_without_data(processed_df, init_data_col=3)

   unidade area  ... enem_ppi enem
0   FFCLRP    E  ...        4   18
4   FFCLRP    E  ...        2   12
5   FFCLRP    E  ...        2   12
6   FFCLRP    E  ...        4   14
8   FFCLRP    B  ...        8   12
9   FFCLRP    B  ...        8   12
11  FFCLRP    H  ...        8   15
12  FFCLRP    H  ...        6   12
14  FFCLRP    E  ...        4    6
15  FFCLRP    H  ...        0    0
17  FFCLRP  NaN  ...       46  113
19   FFLCH    H  ...       15   30
20   FFLCH    H  ...       13   33
21   FFLCH    H  ...       12   24
22   FFLCH    H  ...       12   27
23   FFLCH    H  ...       12   24
24   FFLCH    H  ...       13   27
25   FFLCH    H  ...       18   39
26   FFLCH    H  ...       19   42
27   FFLCH    H  ...       53  125
28   FFLCH    H  ...       54  127
29   FFLCH  NaN  ...      221  498
31      FM    B  ...        8   53
32      FM    B  ...        2    7
33      FM    B  ...        2    7
34      FM    B  ...        2    7
35      FM  NaN  ...       14   74

[27 rows x 15 columns]

### Encapsulate processing for all pages at once

Finally, encapsulate these steps into the `process_all_pages` function.

In [289]:
def process_all_pages(pages):
  processed_dfs = []
  for i, page in enumerate(pages):
    processed_page = process_dataframe(page,
                                       init_row=SLICE[0], init_col=SLICE[1],
                                       institute_column=INSTITUTE_COL,
                                       init_data_col=INITIAL_DATA_COL,
                                       names=COL_NAMES)
    processed_page = remove_rows_without_data(processed_page,
                                              init_data_col=INITIAL_DATA_COL)
    processed_dfs.append(processed_page)
  final_df = pd.concat(processed_dfs, axis=0, ignore_index=True)

  return final_df.reset_index(drop=True)

In [315]:
final_df = process_all_pages(page_dfs)
final_df

    unidade area  ... enem_ppi enem
0      EACH    E  ...        8   18
1      EACH    E  ...       16   36
2      EACH    E  ...        9   18
3      EACH    B  ...        4   18
4      EACH    B  ...       11   18
..      ...  ...  ...      ...  ...
212    IQSC    E  ...        6   18
213    IQSC  NaN  ...        6   18
214     IRI    H  ...        4    9
215     IRI    H  ...        4    9
216     IRI  NaN  ...        8   18

[217 rows x 15 columns]

## Save result to a CSV

In [316]:
final_df.to_csv('../../data/2_intermediate/vagas/2022.csv', index=None)

## Load manually corrected CSV

Some inconsistencies still remain in the CSV resulting from the processing which are easier to fix manually than otherwise.

After these have been corrected, we read the final CSV file.

In [317]:
correct_df = pd.read_csv('../../data/3_formatted/vagas.csv').convert_dtypes()
print(correct_df.dtypes)
correct_df

unidade        string
area           string
curso          string
fuvest_ac       Int64
fuvest_ep       Int64
fuvest_ppi      Int64
fuvest          Int64
enem_ac         Int64
enem_ep_l1      Int64
enem_ep_l3      Int64
enem_ep         Int64
enem_ppi_l2     Int64
enem_ppi_l4     Int64
enem_ppi        Int64
enem            Int64
dtype: object

    unidade  area  ... enem_ppi  enem
0      EACH     E  ...        8    18
1      EACH     E  ...       16    36
2      EACH     E  ...        9    18
3      EACH     B  ...        4    18
4      EACH     B  ...       11    18
..      ...   ...  ...      ...   ...
212    IQSC     E  ...        6    18
213    IQSC  <NA>  ...        6    18
214     IRI     H  ...        4     9
215     IRI     H  ...        4     9
216     IRI  <NA>  ...        8    18

[217 rows x 15 columns]

## Validate results

Assert that aggregate metrics in each row are correct. All assertions should pass.

In [318]:
assert (
  correct_df.fuvest_ac + correct_df.fuvest_ep + correct_df.fuvest_ppi
  == correct_df.fuvest
).all()

In [319]:
assert(
  correct_df.enem_ep_l1 + correct_df.enem_ep_l3
  == correct_df.enem_ep
).all()

In [320]:
assert(
  correct_df.enem_ppi_l2 + correct_df.enem_ppi_l4
  == correct_df.enem_ppi
).all()

In [321]:
assert(
  correct_df.enem_ac + correct_df.enem_ep + correct_df.enem_ppi
  == correct_df.enem
).all()