## Setup

In [63]:
import os

import pandas as pd

In [66]:
FORM_DIR = '../../data/1_initial/forms'
RESULT_DIR = '../../data/2_intermediate/forms'

## Reading

In [39]:
form_list = []
for form_filename in os.listdir(FORM_DIR):
    year = os.path.splitext(form_filename)[0]
    print(year)
    form_path = os.path.join(FORM_DIR, form_filename)
    form_list.append(pd.read_csv(form_path))
print(len(form_list))

2021
1

In [50]:
example_form = form_list[0]
print(example_form.columns)
example_form.head()

Index(['Carimbo de data/hora', 'Cidade', 'Unidade', 'Curso', 'Unidade.1',
       'Curso.1', 'Unidade.2', 'Curso.2', 'Unidade.3', 'Curso.3', 'Unidade.4',
       'Curso.4', 'Curso.5', 'Curso.6', 'Curso.7', 'Curso.8', 'Curso.9',
       'Unidade.5', 'Curso.10', 'Curso.11', 'Unidade.6', 'Curso.12',
       'Curso.13', 'Curso.14', 'Curso.15', 'Curso.16', 'Curso.17', 'Curso.18',
       'Curso.19', 'Curso.20', 'Curso.21', 'Curso.22', 'Curso.23', 'Curso.24',
       'Curso.25', 'Curso.26', 'Curso.27', 'Curso.28', 'Curso.29', 'Curso.30',
       'Curso.31', 'Curso.32',
       'Nome da unidade por extenso (ex.: Escola Politécnica)',
       'Sigla da unidade (ex.: EP)', 'Curso.33', 'Modalidade', 'Chamada',
       'Forma de ingresso', 'Nota na 1° fase', 'Nota na 2° fase, 1° dia',
       'Nota na 2° fase, 2° dia', 'Nota final', 'Nota da redação',
       'Classificação na carreira', 'Classificação no curso de ingresso',
       'Envie aqui o espelho da sua redação', 'Linguagens', 'Ciências Humanas',
       'Ciências da Natureza', 'Matemática', 'Redação', 'Nota final.1',
       'Nota na Competência 1', 'Nota na Competência 2',
       'Nota na Competência 3', 'Nota na Competência 4',
       'Nota na Competência 5', 'Envie aqui o espelho da sua redação.1',
       'Quais foram as medalhas que você submeteu para seu ingresso?',
       'Você quer que contatemos você?',
       'Digite um email para entrarmos em contato se quiser',
       'Deixe aqui qualquer comentário que quiser fazer',
       'Qual o seu ano de ingresso?'],
      dtype='object')

,Carimbo de data/hora,Cidade,Unidade,Curso,Unidade.1,Curso.1,Unidade.2,Curso.2,Unidade.3,Curso.3,...,Nota na Competência 2,Nota na Competência 3,Nota na Competência 4,Nota na Competência 5,Envie aqui o espelho da sua redação.1,Quais foram as medalhas que você submeteu para seu ingresso?,Você quer que contatemos você?,Digite um email para entrarmos em contato se quiser,Deixe aqui qualquer comentário que quiser fazer,Qual o seu ano de ingresso?
0,26/03/2021 20:39:55,São Paulo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Sim,Ppserrasqueiro2@gmail.com,NaN,NaN
1,27/03/2021 00:02:30,São Paulo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Sim,fuzarogiovana@gmail.com,NaN,NaN
2,27/03/2021 01:23:45,Ribeirão Preto,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Sim,liviassenges@gmail.com,NaN,NaN
3,27/03/2021 01:25:22,São Paulo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Não,Essas notas correspondem ao vestibular FUVEST ...,NaN,NaN
4,27/03/2021 11:52:54,São Paulo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Não,NaN,NaN,NaN

## Parsing

### Merging course and institute columns

In [8]:
example_form.filter(regex='Unidade')

    Unidade Unidade.1 Unidade.2 Unidade.3 Unidade.4 Unidade.5 Unidade.6
0       NaN       NaN       NaN       NaN       NaN       NaN        FO
1       NaN       NaN       NaN       NaN       NaN       NaN      EACH
2       NaN       NaN       NaN       NaN    FFCLRP       NaN       NaN
3       NaN       NaN       NaN       NaN       NaN       NaN      Poli
4       NaN       NaN       NaN       NaN       NaN       NaN       IME
..      ...       ...       ...       ...       ...       ...       ...
915     NaN       NaN       NaN       NaN       NaN      EESC       NaN
916     NaN       NaN       NaN       NaN       NaN      EESC       NaN
917     NaN       NaN     ESALQ       NaN       NaN       NaN       NaN
918     NaN       NaN       NaN       NaN       NaN       NaN       FAU
919     NaN       NaN       NaN       NaN       NaN       NaN       FAU

[920 rows x 7 columns]

In [9]:
example_form.filter(regex='Unidade').iloc[0]

Unidade      NaN
Unidade.1    NaN
Unidade.2    NaN
Unidade.3    NaN
Unidade.4    NaN
Unidade.5    NaN
Unidade.6     FO
Name: 0, dtype: object

In [12]:
example_form.filter(regex='Unidade').iloc[0].dropna()[0]

'FO'

In [15]:
for i in range(example_form.shape[0]):
    print(example_form.filter(regex='Unidade').iloc[i].dropna()[-1])

FO
EACH
FFCLRP
Poli
IME
Outra
Outra
Outra
Outra
Outra
Outra
Outra
IP
Poli
Poli
Outra
Poli
ECA
Poli
ICB
FCF
FD
EESC
EESC
FD
IO
FFLCH
Poli
IO
Poli
FEARP
Poli
IP
Poli
Poli
Poli
Poli
Poli
Poli
Poli
Poli
Poli
Poli
Poli
Poli
Poli
Poli
Poli
FFCLRP
Poli
Poli
Poli
FEARP
EACH
EACH
Poli
EACH
Poli
Outra
FEA
Poli
Outra
ESALQ
FEA
FEA
IQ
FEA
FO
IME
EACH
Poli
FEA
FMVZ
FEA
FOB
FEA
FCFRP
FEA
Poli
FFLCH
FCFRP
Poli
FFCLRP
IB
EEL
Poli
FMVZ
IQ
ECA
FMVZ
Poli
FMVZ
IO
EESC
EESC
EESC
Poli
FMVZ
Poli
Poli
Poli
EEL
EEL
Poli
IME
Poli
Poli
EESC
FFLCH
EESC
EACH
EEL
Poli
EESC
ESALQ
FMVZ
Poli
EESC
FEA
EESC
Poli
EESC
FMVZ
EEL
FFCLRP
Outra
EESC
Poli
Poli
FMVZ
Outra
Poli
Poli
FMVZ
Poli
FMVZ
IME
Poli
EESC
EESC
FMVZ
Poli
EEL
Poli
Poli
Poli
Poli
EESC
Poli
Poli
Poli
EESC
IME
Poli
FORP
Poli
Poli
EESC
Poli
EEL
Poli
IME
IME
Poli
Poli
FAU
Poli
IME
Poli
Poli
Poli
IME
Poli
EESC
FMVZ
Poli
Outra
Poli
Outra
Poli
EESC
Poli
Outra
EESC
EEL
Poli
Poli
Poli
IQSC
IQSC
EESC
IQSC
IME
Outra
FORP
EESC
FZEA
IQSC
Outra
IQ
IME
Poli
IF
FEA
EESC
IME
Poli
IQSC
Poli
ESALQ
Poli
Outra
IF
Poli
FMVZ
Poli
Outra
FFLCH
Poli
Poli
FCF
Outra
FCF
Outra
Poli
Outra
Poli
Poli
Poli
IF
Outra
Poli
Outra
Poli
Outra
Poli
IME
Outra
EACH
EESC
EACH
EACH
EACH
EACH
EACH
Poli
EACH
EACH
EACH
Poli
EESC
FFLCH
FEA
FEARP
Poli
FFLCH
FM
EACH
EACH
Poli
IRI
IF
IP
EACH
EACH
Outra
Poli
IME
EACH
Outra
Poli
Poli
Poli
EACH
EACH
EACH
EACH
EACH
Poli
EACH
Outra
Poli
Poli
Poli
Poli
EACH
Poli
Poli
Poli
EACH
EACH
Outra
Poli
EACH
Poli
Poli
Poli
IF
IME
Poli
Poli
Poli
EACH
Poli
Poli
Poli
FAU
FAU
ECA
FAU
FAU
FAU
ECA
Poli
ECA
ECA
EACH
Outra
ECA
FAU
Poli
EACH
ESALQ
FD
ECA
ECA
FAU
Poli
ESALQ
EESC
Poli
FCF
FAU
ECA
FFLCH
EESC
ESALQ
ECA
EACH
Outra
Poli
Poli
Outra
FAU
EACH
EACH
Outra
Poli
Poli
FEA
IQ
ECA
Outra
FO
Poli
EESC
FFLCH
ESALQ
ESALQ
ESALQ
EESC
Outra
IME
FAU
Poli
Poli
FAU
IME
Poli
FMVZ
Outra
IB
FFLCH
IQSC
IO
FAU
FAU
IO
IO
Poli
IO
Poli
FFLCH
EESC
Poli
IME
ECA
FEARP
IO
ECA
Poli
ECA
EACH
ECA
ECA
EACH
EEL
Outra
Poli
ECA
FEA
FMRP
ECA
FEA
FEA
Poli
ESALQ
Poli
FCF
Outra
Outra
ESALQ
Outra
Outra
Outra
FAU
ECA
ECA
Poli
FFCLRP
FD
Poli
Poli
Poli
Poli
EEL
Poli
FFCLRP
ECA
IME
FEARP
Poli
FMRP
Poli
EESC
FFCLRP
EESC
FMRP
FMRP
FMRP
FMRP
Poli
Poli
EESC
IME
FFCLRP
Outra
FFCLRP
FMRP
EACH
FFCLRP
FEARP
IP
Poli
FFLCH
Outra
Poli
FFLCH
FSP
IB
FMVZ
FAU
Poli
FFLCH
Outra
EACH
IME
FD
FEA
EACH
FD
EESC
IME
IME
IME
IME
FFLCH
Outra
Outra
Poli
FFLCH
ECA
FM
FZEA
FMRP
IQ
EESC
FEA
Poli
FEA
IME
FCF
ECA
FAU
FAU
FEA
Poli
Poli
IME
IME
IME
IME
IME
IME
IME
IME
IME
IME
Poli
IME
IME
FEA
EESC
IME
FCFRP
IME
IME
IME
EACH
IME
FCF
Outra
FO
Outra
ESALQ
Poli
Outra
FFCLRP
Outra
IME
Poli
Poli
FEARP
EACH
EESC
EACH
EACH
Poli
EACH
IF
FEA
IME
IME
IQ
EACH
IME
IME
ECA
ECA
ECA
ECA
IME
ECA
IME
ECA
IME
IME
IME
IME
Poli
ECA
ECA
FFLCH
EACH
FFLCH
FFLCH
IME
FFLCH
Poli
FFLCH
FFLCH
FFLCH
FFLCH
FFLCH
FFLCH
FFLCH
FFLCH
FFLCH
FFLCH
FCF
ECA
ECA
ECA
ECA
ECA
ECA
Poli
ECA
FFLCH
FFLCH
Poli
EACH
Poli
FFLCH
EACH
IME
Poli
Outra
EACH
EACH
EESC
Poli
Poli
IME
Poli
IME
Poli
Poli
FO
FEA
IME
Poli
Poli
Poli
IP
ESALQ
IP
IP
IP
IP
IP
Poli
IP
FORP
Outra
Outra
Outra
FORP
Outra
IP
Outra
Outra
Poli
FEA
EESC
ESALQ
IQSC
EACH
IQSC
FFCLRP
ECA
ECA
ECA
ECA
ECA
IME
Poli
Poli
IME
IME
IME
IME
IME
IME
IME
IME
IME
IME
Poli
IME
EACH
EACH
Poli
ESALQ
FFLCH
IRI
FEARP
ECA
ECA
IME
FFLCH
ECA
ESALQ
Poli
ECA
IME
IME
IME
IME
IME
IME
ECA
ECA
ECA
FEA
Poli
IME
IME
IME
FFLCH
ECA
Outra
ECA
ECA
ECA
ECA
IME
IME
IME
IME
FFCLRP
IME
IME
Outra
IME
FEARP
FEARP
Poli
Poli
IP
IP
IP
IP
IP
IP
IP
IP
IQ
FD
FD
FD
FD
EESC
FEA
IME
IP
IP
Poli
Poli
Poli
Poli
Poli
FEARP
Poli
Poli
Poli
Poli
IRI
Poli
FEARP
FD
FEARP
FFLCH
EACH
FFLCH
IGc
FCF
ECA
ECA
ECA
FEA
Outra
FFLCH
FFLCH
FEA
EACH
IQSC
Poli
FD
FAU
FEA
EACH
EACH
EACH
EACH
FFLCH
ESALQ
EESC
EESC
ECA
ECA
ECA
ECA
ECA
FFLCH
FZEA
EEL
Outra
Poli
Poli
Poli
Poli
Poli
ECA
ECA
ECA
FEA
EACH
ECA
EACH
Poli
ECA
Poli
FEA
EACH
EACH
ECA
Poli
Poli
Poli
FZEA
FZEA
FZEA
FZEA
FZEA
FZEA
FZEA
IQSC
FD
ICB
ICB
ICB
ICB
ICB
Poli
Poli
FD
FEA
Poli
ICB
Poli
Poli
FEA
EACH
EACH
EACH
EACH
FD
FEA
FEA
FMRP
FD
ESALQ
FD
FEA
EACH
Poli
Poli
FEARP
Poli
FFLCH
Poli
FAU
IP
FEA
EACH
IP
IP
IP
Outra
EESC
FEARP
FEARP
FAU
IQ
IF
FEARP
IME
IME
IME
FFLCH
Poli
FORP
FO
FO
FFLCH
ESALQ
EACH
FEA
FFLCH
Poli
Poli
FEA
FD
EACH
Poli
EEL
Poli
EEL
Outra
Outra
EACH
Poli
FFLCH
Poli
ESALQ
EESC
EACH
Poli
Outra
Poli
Poli
Poli
Poli
Poli
IME
Poli
Outra
Poli
Poli
FZEA
Poli
Poli
Poli
Poli
Poli
Poli
Poli
Poli
Poli
IP
ESALQ
Poli
EACH
EACH
EESC
EESC
ESALQ
FAU
FAU

In [16]:
def merge_nan_cols(df, col_regex):
    selected_col_df = df.filter(regex=col_regex)
    merged_col_series = selected_col_df.apply((
        lambda x:
            x.dropna()[-1]),
        axis=1)
    return merged_col_series

In [17]:
unidade_series = merge_nan_cols(example_form, r'^Unidade|unidade \(')
unidade_series

0          FO
1        EACH
2      FFCLRP
3        Poli
4         IME
        ...
915      EESC
916      EESC
917     ESALQ
918       FAU
919       FAU
Length: 920, dtype: object

In [18]:
curso_series = merge_nan_cols(example_form, r'Curso')
curso_series

0                   Odontologia
1              Gestão Ambiental
2            Química (integral)
3      Engenharia de Computação
4         Ciência da Computação
                 ...
915      Engenharia Aeronáutica
916      Engenharia Aeronáutica
917        Engenharia Florestal
918     Arquitetura e Urbanismo
919     Arquitetura e Urbanismo
Length: 920, dtype: object

In [19]:
unidade_curso_df = pd.DataFrame({
    'unidade': unidade_series,
    'curso': curso_series,
})
unidade_curso_df

    unidade                     curso
0        FO               Odontologia
1      EACH          Gestão Ambiental
2    FFCLRP        Química (integral)
3      Poli  Engenharia de Computação
4       IME     Ciência da Computação
..      ...                       ...
915    EESC    Engenharia Aeronáutica
916    EESC    Engenharia Aeronáutica
917   ESALQ      Engenharia Florestal
918     FAU   Arquitetura e Urbanismo
919     FAU   Arquitetura e Urbanismo

[920 rows x 2 columns]

### Processing results

In [25]:
example_form['Forma de ingresso'].unique()

array(['Fuvest', 'SiSU (Enem)'], dtype=object)

#### Fuvest

In [42]:
fuvest_mask = example_form['Forma de ingresso'].str.contains('Fuvest')
fuvest_raw = example_form[fuvest_mask]
assert (fuvest_raw['Forma de ingresso'] == 'Fuvest').all()

In [49]:
def parse_fuvest_results(row):
    return pd.Series({
        'ano':                    row['Qual o seu ano de ingresso?'],
        'modalidade':             row['Modalidade'],
        'chamada':                row['Chamada'],
        'nota_1':                 row['Nota na 1° fase'],
        'nota_2_1':               row['Nota na 2° fase, 1° dia'],
        'nota_2_2':               row['Nota na 2° fase, 2° dia'],
        'nota_final':             row['Nota final'],
        'nota_redacao':           row['Nota da redação'],
        'classificacao_carreira': row['Classificação na carreira'],
        'classificacao_curso':    row['Classificação no curso de ingresso'],
        'redacao':                row['Envie aqui o espelho da sua redação'],
    })

fuvest_data = fuvest_raw.apply(parse_fuvest_results, axis=1)
fuvest_data.head()

,ano,modalidade,chamada,nota_1,nota_2_1,nota_2_2,nota_final,nota_redacao,classificacao_carreira,classificacao_curso,redacao
0,NaN,Ampla Concorrência (AC),Primeira,63.0,57.00,67.50,648.33,28.50,43.0,38.0,NaN
1,NaN,Ampla Concorrência (AC),Primeira,48.0,50.50,32.50,454.44,31.50,21.0,21.0,https://drive.google.com/open?id=1MGxYfPYPGiYJ...
2,NaN,Escola Pública (EP),Primeira,50.0,59.67,40.83,520.19,35.67,2.0,2.0,https://drive.google.com/open?id=1gorWxyQA4IuO...
3,NaN,Escola Pública (EP),Primeira,66.0,56.00,60.83,633.89,33.00,75.0,47.0,NaN
4,NaN,Escola Pública (EP),Primeira,81.0,55.00,62.50,691.67,31.50,6.0,6.0,NaN

In [48]:
fuvest_results = pd.concat([unidade_curso_df[fuvest_mask], fuvest_data], axis=1)
fuvest_results.head()

,unidade,curso,ano,modalidade,chamada,nota_1,nota_2_1,nota_2_2,nota_final,nota_redacao,classificacao_carreira,classificacao_curso,redacao
0,FO,Odontologia,NaN,Ampla Concorrência (AC),Primeira,63.0,57.00,67.50,648.33,28.50,43.0,38.0,NaN
1,EACH,Gestão Ambiental,NaN,Ampla Concorrência (AC),Primeira,48.0,50.50,32.50,454.44,31.50,21.0,21.0,https://drive.google.com/open?id=1MGxYfPYPGiYJ...
2,FFCLRP,Química (integral),NaN,Escola Pública (EP),Primeira,50.0,59.67,40.83,520.19,35.67,2.0,2.0,https://drive.google.com/open?id=1gorWxyQA4IuO...
3,Poli,Engenharia de Computação,NaN,Escola Pública (EP),Primeira,66.0,56.00,60.83,633.89,33.00,75.0,47.0,NaN
4,IME,Ciência da Computação,NaN,Escola Pública (EP),Primeira,81.0,55.00,62.50,691.67,31.50,6.0,6.0,NaN

#### Enem

In [45]:
enem_mask = example_form['Forma de ingresso'].str.contains('Enem')
enem_raw = example_form[enem_mask]
assert (enem_raw['Forma de ingresso'] == 'SiSU (Enem)').all()

In [47]:
def parse_enem_results(row):
    return pd.Series({
        'ano':             row['Qual o seu ano de ingresso?'],
        'modalidade':      row['Modalidade'],
        'chamada':         row['Chamada'],
        'nota_linguagens': row['Linguagens'],
        'nota_humanas':    row['Ciências Humanas'],
        'nota_natureza':   row['Ciências da Natureza'],
        'nota_matematica': row['Matemática'],
        'nota_redacao':    row['Redação'],
        'nota_final':      row['Nota final.1'],
        'nota_redacao_c1': row['Nota na Competência 1'],
        'nota_redacao_c2': row['Nota na Competência 2'],
        'nota_redacao_c3': row['Nota na Competência 3'],
        'nota_redacao_c4': row['Nota na Competência 4'],
        'nota_redacao_c5': row['Nota na Competência 5'],
        'redacao':         row['Envie aqui o espelho da sua redação.1'],
    })

enem_data = enem_raw.apply(parse_enem_results, axis=1)
enem_data.head()

,ano,modalidade,chamada,nota_linguagens,nota_humanas,nota_natureza,nota_matematica,nota_redacao,nota_final,nota_redacao_c1,nota_redacao_c2,nota_redacao_c3,nota_redacao_c4,nota_redacao_c5,redacao
394,2020.0,Ampla Concorrência (AC),Primeira,669.6,688.0,640.9,838.7,980.0,793.00,180.0,200.0,200.0,200.0,200.0,https://drive.google.com/open?id=1OWcisZ_cYUSV...
442,2019.0,Escola Pública (EP),Segunda,728.0,721.0,717.0,811.0,880.0,768.00,180.0,200.0,180.0,180.0,200.0,NaN
539,2020.0,Escola Pública (EP),Após a terceira,595.8,647.9,626.6,703.4,840.0,697.96,140.0,180.0,160.0,180.0,180.0,https://drive.google.com/open?id=1yBPpGKsTl8fL...
628,2020.0,Escola Pública (EP),Após a terceira,605.0,603.0,576.0,752.0,620.0,646.00,140.0,120.0,140.0,140.0,80.0,NaN
650,2020.0,Ampla Concorrência (AC),Terceira,622.0,592.0,598.0,720.0,820.0,645.00,160.0,180.0,160.0,160.0,160.0,https://drive.google.com/open?id=1F6uo6hs_WlQa...

In [51]:
enem_results = pd.concat([unidade_curso_df[enem_mask], enem_data], axis=1)
enem_results.head()

,unidade,curso,ano,modalidade,chamada,nota_linguagens,nota_humanas,nota_natureza,nota_matematica,nota_redacao,nota_final,nota_redacao_c1,nota_redacao_c2,nota_redacao_c3,nota_redacao_c4,nota_redacao_c5,redacao
394,ECA,Com. Social: Editoração,2020.0,Ampla Concorrência (AC),Primeira,669.6,688.0,640.9,838.7,980.0,793.00,180.0,200.0,200.0,200.0,200.0,https://drive.google.com/open?id=1OWcisZ_cYUSV...
442,Poli,Engenharia Mecânica,2019.0,Escola Pública (EP),Segunda,728.0,721.0,717.0,811.0,880.0,768.00,180.0,200.0,180.0,180.0,200.0,NaN
539,IF,Física (Bach),2020.0,Escola Pública (EP),Após a terceira,595.8,647.9,626.6,703.4,840.0,697.96,140.0,180.0,160.0,180.0,180.0,https://drive.google.com/open?id=1yBPpGKsTl8fL...
628,ICMC,Ciências de Computação,2020.0,Escola Pública (EP),Após a terceira,605.0,603.0,576.0,752.0,620.0,646.00,140.0,120.0,140.0,140.0,80.0,NaN
650,IME,Matemática Aplicada e Computacional (Bach),2020.0,Ampla Concorrência (AC),Terceira,622.0,592.0,598.0,720.0,820.0,645.00,160.0,180.0,160.0,160.0,160.0,https://drive.google.com/open?id=1F6uo6hs_WlQa...

## Merging all collected data

In [67]:
for form_filename in os.listdir(FORM_DIR):
    form_path = os.path.join(FORM_DIR, form_filename)
    form_df = pd.read_csv(form_path)

    unidade_series = merge_nan_cols(form_df,
        r'^Unidade|unidade \(')
    curso_series = merge_nan_cols(form_df,
        r'Curso')
    unidade_curso_df = pd.DataFrame({
        'unidade': unidade_series,
        'curso': curso_series,
    })

    fuvest_mask = form_df['Forma de ingresso'].str.contains('Fuvest')
    enem_mask = form_df['Forma de ingresso'].str.contains('Enem')

    fuvest_raw = form_df[fuvest_mask]
    enem_raw = form_df[enem_mask]

    fuvest_data = fuvest_raw.apply(parse_fuvest_results, axis=1)
    enem_data = enem_raw.apply(parse_enem_results, axis=1)

    fuvest = pd.concat([unidade_curso_df[fuvest_mask], fuvest_data],
                       axis=1)
    enem = pd.concat([unidade_curso_df[enem_mask], enem_data],
                     axis=1)

    fuvest.convert_dtypes().to_csv(os.path.join(RESULT_DIR, 'fuvest', form_filename), index=None) 
    enem.convert_dtypes().to_csv(os.path.join(RESULT_DIR, 'enem', form_filename), index=None)